body {
    background-color: rgb(95, 95, 93);
}
h3 {
    text-align: center;
color: darkblue;
}
span {
    font-size: 30px;
}
.j {
    color: blue;
}
div.a {
    color: red;
}
a:visited {
    color: brown;
}
li:hover {
    background: chartreuse;
}
div.color {
    color: deepskyblue;
    background-color: gainsboro;
    border-color: #7A5B2F;
}
div.box{
    background: yellow;
    border-style: solid;
    border-color: peru;
    margin: 40px;
    border-width: 30px;
    padding: 20px;
}